/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background-color: #1f2937;

  font-family: "Inter", sans-serif;
}

.dark-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
